/* Global */

p {
	font-family: font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
}

/* Nav */

nav a:link {
  color: #4aa2d9;
  text-decoration: none;
}

nav a:visited {
	color: #f2994b;
}

nav a:hover {
	color: #123159;
}

nav a:active {
	color: #123159;
}

nav a:focus {
	color: #123159;
}

img {
	width: 100px;
}
