/* Global */

h1,
h2,
h3 {
	font-family: 'Merriweather Sans', sans-serif;
}

body {
	font-family: 'Merriweather', serif;
	font-size: 16px;
	background-color: #75A1B2;
	background-image: url(../img/felt.png);
}

p {
	margin: 20px 0;
}

.content {
	max-width: 1200px;
	overflow: auto;
	margin: 20px auto;
	background-color: #FFF;
	background-image: url(../img/paper_3.png);
	padding: 20px;
	border-radius: 15px;
}

/* Nav */

.page-links {
	overflow: auto;
	width: 30%;
	float: left;
	position: relative;
	z-index: 10;
}

.page-links li {
	padding: 5px 15px 5px 0;
	list-style-type: none;
	display: inline;
	margin: 0;
}

.page-links li a {
	color: #75A1B2;
    text-decoration: none;
}
.page-links li a:hover {
	color: #f2994b;
}

.page-links li a:active {
	color: #75A1B2;
}

.page-links ul {
	padding: 0;
}

/* Bio */

h1 {
	text-align: center;
	position: relative;
	left: -15%;
	z-index: 1;
	padding-top: 5px;
}

.container {
	overflow: auto;
	width: 85%;
	margin: 30px auto;
	padding-bottom: 5px;
}

img.bio-pic {
	float: left;
	position: relative;
	top: 25px;
	border-radius: 7px;
	box-shadow: 2px 2px 5px #333;
	margin: 0 20px 25px 0;
}

/* Background */

.wrapper {
	width: 85%;
	margin: 30px auto;
	overflow: auto;
	border-top: 2px #75A1B2 dotted;
	border-bottom: 2px #75A1B2 dotted;
}
.col-1, .col-2{
	width: 42%;
	float: left;
	margin: 5px;
	padding: 5px;
}

li {
	margin: 10px 0;
}

/* Contact */

footer {
	clear: both;
}

/* Style Tile */

section {
	margin: 20px 0;
}
 
.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}
 
.color-1 {
	background-color: #75A1B2;
}

.color-2 {
	background-color: #f2994b;
}

.color-3 {
	background-color: #FFF;
}

.pattern-1 {
	background-image: url(../img/felt.png);
}
 
 .pattern-2 {
	background-image: url(../img/paper_3.png);
 }

 .pattern-3 {
 	background-color: #FFF;
 }

 /* Clearfix - Oo Not Remove */
.clearfix {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}

/* Media Queries */

@media only screen and (max-width: 768px) {
	.page-links {
		float: none;
		width: 50%;
		margin: 0 auto;
	}

	.page-links ul {
		text-align: center;
		}
	.page-links li {
		padding: 5px 10px;
		}
	h1 {
		left: 0;
	}
	.col-1, .col-2 {
		float: none;
		width: 100%;
		padding: 0;
		margin: 0;
	}

}

@media only screen and (max-width: 640px) {
	.page-links {
		width: 100%;
	}
	.container, .wrapper {
		width: 100%;
	}
	
}